torch
transformers
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-upstage
langserve
openai
accelerate
bitsandbytes
sentence-transformers
scikit-learn
datasets
tqdm
python-dotenv
numpy
pandas
huggingface_hub
FlagEmbedding
jupyter
ipykernel
#ollama RAG
pypdf
PyMuPDF
pdfplumber
pgvector
psycopg2-binary
chromadb
streamlit
sse_starlette